<div class="text-center">
    <h1 class="mt-4">OOP's Error-404</h1>
    <p>Page not found, Please Try Again!</p>
    <img src="/images/404.jpg" alt="" style="height: 30vw; width:30vw;">
    <div class="text-center mb-5">
        <a href="/dashboard" class="btn btn-outline-success">Go to Dashboard</a>
    </div>
</div>